
.click{
    text-align: center;
    height: 80px;
    background-color: bisque;
    padding: 10px;
    
}

.chang{
    height: 50px;
    width: 150px;
    color: white;
    border-radius: 5px;
}